<mat-toolbar>
  <button mat-icon-button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()"
    [ngClass]="{ hidden: !deviceSm }">
    <fa-icon aria-label="Side nav toggle icon" [icon]="menu" size="lg"></fa-icon>
  </button>
  <span>Work</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="!deviceSm" role="navigation" [mode]="!deviceSm ? 'side' : 'over'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['']">Works</a>
      <a mat-list-item [routerLink]="['work']">New Work</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar>
</mat-toolbar>
